<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registration</title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <!-- Font awesome -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include header %>

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/shop">Home</a></li>
                <li class="active">Cart</li>
            </ol>
            
            <% if (session.user) { %>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: center;">Price</th>
                    <th style="text-align: center;">Remove</th>
                </tr>
                <% i=0 %>
                <% total_price = 0 %>
                <% currency = null %>
                <% total_quantity = 0 %>
                <% _.each(products, function(product) { %>
                <tr>
                <% i++ %>
                    <td><%= i %></td>
                    <td>
                        <% var thumbnail = image(product.product, "small") %>
                        <% if (thumbnail) { %>
                        <img src="/images/<%= thumbnail.link %>">
                        <% } %>
                    </td>
                    <td><a href="/product/<%= product.product.id %>"><%= product.product.name %></a></td>
                    <td style="text-align: center;"><%= product.quantity %></td>
                    <td style="text-align: center;">
                        <span class="price" data-price="<%= product.product.price * product.quantity %>" data-currency="<%= product.product.currency %>">
                            <%= (product.product.price * product.quantity).toFixed(2) %> <%= product.product.currency %>
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <a href="/shop/cart/remove?productToRemove=<%= product.product.id %>"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <% total_price += product.product.price * product.quantity %>
                <% total_quantity += product.quantity %>
                <% }) %>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center;"><strong>Total: <%= total_quantity %> items</strong></td>
                    <td style="text-align: center;">
                        <span class="price" data-price="<%= total_price %>" data-currency="<%= currencyCodes[0] %>">
                            <%= total_price.toFixed(2) %>
                        </span>
                        <select id="currency">
                            <% _.each(currencyCodes, function(currencyCode) { %>
                            <option value="<%= currencyCode %>" data-rate="<%= currencyRates[currencyCode] %>">
                                <%= currencyCode %>
                            </option>
                            <% }) %>
                        </select>
                    </td>
                    <% if (session.cart.length > 0) { %>
                    <td style="text-align: center;"><a href="/shop/cart/deleteAll" class="btn btn-default" role="button">Remove all</a></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                </tr>
            </table>
            <% } else { %>
            <p class="alert alert-danger" role="alert">You have to be logged in to see the cart page.</p>
            <% } %>
        </div>

        <div class="footer">
            <hr />
            <p>&copy;Copyright 2014 OSF Global Services</p>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <!-- jQuery plugin for form validation -->
        <script src="/js/validator.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/multi_currency_price.js"></script>
    </body>
</html>