<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= category.page_title %></title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include header %>

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/shop">Home</a></li>
                <% _.each(parents, function(parent) { %>
                <li><a href="/category/<%= parent.id %>"><%= parent.name %></a></li>
                <% }); %>
                <li class="active"><%= category.name %></li>
            </ol>
            <div>
                <h1><%= category.page_title %></h1>
                <ol>
                    <% _.each(category.categories, function(child) { %>
                    <li>
                        <h2><%= child.name %></h2>
                        <p><%= child.page_description %></p>
                        <% if (child.image) { %>
                        <div>
                            <img src="/images/<%= child.image %>">
                        </div>
                        <% } %>
                        
                        <a href="/category/<%= child.id %>" role="button" class="btn btn-default view-products">View products</a>  
                    </li>
                    <% }); %>
                </ol>
            </div>
        </div>

        <div class="footer">
            <hr />
            <p>&copy;Copyright 2014 OSF Global Services</p>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>