<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/shop">BuyOnline</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <% _.each(topCategories, function(topC) { %>
                <li>
                    <a href="/category/<%= topC.id %>"><%= topC.name %></a>  
                </li>
                <% }); %>
            </ul>
            <% if (session.user) { %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/shop/cart">Cart (<%= session.cart.length %>)</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <%= session.user.email %> <span class="caret">
                    </a>
                    <ul class="dropdown-menu" role="menu" style="text-align: right;">
                        <!-- Passing the params in the URL. url?param1=value1&param2=value2...&paramN=valueN -->
                        <li><a href="/shop/logout?redirectTo=<%= currentUrl %>">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <% } else { %>
            <div class="navbar-form navbar-right">
                <a href="/shop/login?redirectTo=<%= currentUrl %>" role="button" class="btn btn-success">Log in</a>
                <a href="/shop/register?redirectTo=<%= currentUrl %>" role="button" class="btn btn-primary">Register</a>
            </div>
            
            <% } %>
        </div><!--/.nav-collapse -->
    </div>
</nav>