<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= product.name %></title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- Gallery css -->
        <link rel="stylesheet" type="text/css" href="/css/gallery.css">


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include header %>

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/shop">Home</a></li>
                <% _.each(parents, function(parent) { %>
                <li><a href="/category/<%= parent.id %>"><%= parent.name %></a></li>
                <% }); %>
                <li class="active"><%= product.name %></li>
            </ol>
            <div>
                <h1><%= product.name %></h1>
                <div class="row">
                    <div class="col-md-4">
                        <% var image = productImage(product, "large") %>
                        <% if (image) { %>
                            <div><img src="/images/<%= image.link %>" class="placeholder"></div>
                        <% } %>
                        <ol class="thumbnails">
                            <% var images = productImages(product, "large") %>
                            <% var thumbs = productImages(product, "small") %>

                            <% _.each(_.zip(images, thumbs), function(item) { %>
                            <li>
                                <a href="/images/<%= item[0].link %>">
                                    <img src="/images/<%= item[1].link %>" alt="Thumbnail">
                                </a>
                            </li>
                            <% }); %>
                        </ol>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <h3>Description:</h3>
                            <%- product.long_description %>
                        </div>
                        <br />
                        <p style="color: #337ab7">
                            Price:
                            <span class="price" data-price="<%= product.price %>" data-currency="<%= product.currency %>">
                                <%= product.price.toFixed(2) %>
                            </span>
                            <select id="currency">
                                <% _.each(currencyCodes, function(currencyCode) { %>
                                <option
                                    value="<%= currencyCode %>"
                                    data-rate="<%= currencyRates[currencyCode] %>"
                                    <% if (currencyCode == product.currency) { %> selected="selected" <% } %>><%= currencyCode %>
                                </option>
                                <% }) %>
                            </select>
                        </p>
                        <p>
                            <% if (!session.user) { %>
                            <a href="#" id="alertTrigger" class="btn btn-primary" role="button">Buy</a>
                            <p class="alert alert-danger" role="alert" style="width: 400px; visibility: hidden;">You have to sign in to buy a stuff.</p>
                            <% } else {%>
                            <a href="/shop/buy?productId=<%= product.id %>&redirectTo=<%= currentUrl %>" class="btn btn-primary" role="button">Buy</a>
                            <% } %>
                        </p>
                </div>
            </div>
        </div>

        <div class="footer">
            <hr />
            <p>&copy;Copyright 2014 OSF Global Services</p>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/alert.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Gallery scripts -->
        <script type="text/javascript" src="/js/jquery.simpleGal.min.js"></script>
        <script type="text/javascript" src="/js/product.js"></script>
        <script type="text/javascript" src="/js/multi_currency_price.js"></script>
    </body>
</html>