<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log in</title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include header %>

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/shop">Home</a></li>
                <li class="active">Log in</li>
            </ol>
            <h1>Recover password</h1>
            <div style="width: 50%;">
                <% if (error) { %>
                <p class="alert alert-danger" role="alert">This email is not registered.</p>
                <% } else if (succes) { %>
                <p class="alert alert-info" role="alert">New password was sent to your email.</p>
                <% } %>
                <form role="form" method="POST" action="/shop/recover">
                    <input name="redirectTo" type="hidden" value="<%= redirectTo %>">
                    <div class="form-group<% if (error) { %> has-error<% } %>">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email" value="<%= email %>" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" value="submit">Recover</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer">
            <hr />
            <p>&copy;Copyright 2014 OSF Global Services</p>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <!-- jQuery plugin for form validation -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>