<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registration</title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include header %>

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/shop">Home</a></li>
                <li class="active">Registration</li>
            </ol>
            <h1>Registration</h1>
            <div style="width: 50%;">
                <form id="regForm" data-toggle="validator" role="form" method="POST" action="/shop/register">
                    <input name="redirectTo" type="hidden" value="<%= redirectTo %>">
                    <div class="form-group<% if (errors.email) { %> has-error<% } %>">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email" value="<%= email %>" required>
                        <div class="help-block with-errors"><%= errors.email %></div>
                    </div>
                    <div class="form-group<% if (errors.password) { %> has-error<% } %>">
                        <label for="inputPassword" class="control-label">Password</label>
                        <input name="password" type="password" data-minlength="6" class="form-control" id="inputPassword" data-error="Not long enough (minimum 6 symbols)." placeholder="Password minimum 6 symbols" value="<%= password %>" required>
                        <div class="help-block with-errors"><%= errors.password %></div>
                        <!-- <span class="help-block">Minimum of 6 characters</span> -->
                    </div>
                    <div class="form-group<% if (errors.passwordConfirm) { %> has-error<% } %>">
                        <label class="control-label">Confirm password</label>
                        <input name="passwordConfirm" type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm password" value="<%= passwordConfirm %>" required>
                        <div class="help-block with-errors"><%= errors.passwordConfirm %></div>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" value="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer">
            <hr />
            <p>&copy;Copyright 2014 OSF Global Services</p>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <!-- jQuery plugin for form validation -->
        <script src="/js/validator.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/registration.js"></script>
    </body>
</html>