<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap 101 Template</title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <% include header %>

        <div class="container">

            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>
            <div>
                <ol>
                    <% _.each(topCategories, function(topC) { %>
                    <li>
                        <h1><%= topC.name %></h1>
                        <p><%= topC.page_description %></p>
                        <% if (topC.image) { %>
                        <div>
                            <img src="/images/<%= topC.image %>">
                        </div>
                        <% } %>
                        
                        <a href="/category/<%= topC.id %>" role="button" class="btn btn-default">View products</a>  
                    </li>
                    <% }); %>
                </ol>
            </div>
        </div>

        <div class="footer">
            <hr />
            <p>&copy;Copyright 2014 OSF Global Services</p>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>