body {
  padding: 50px;
  /*background-color: #E3E4E6;*/
  color: #343A45;
}

ol {
	margin-left: -40px;
	list-style-type: none;
}

ol.breadcrumb {
	margin-left: 0;
}

ol.row {
	margin-left: -50px;
	margin-top: 20px;
}

a.view-products {
	margin-top: 10px;
}

.thumbnail {
	height: 400px;
	position: relative;
}

.thumbnail p.product-actions {
	position: absolute;
	bottom: 0px;
}

.thumbnail p.product-actions a+a {
	margin-left: 5px;
}

.footer {
	text-align: center;
	font-size: 12px;
}

.table>tbody>tr>td {
	vertical-align: middle;
}
